github "ReactiveX/RxSwift" "6.5.0"
github "socketio/socket.io-client-swift" ~> 16.0.1
github "amosavian/AMSMB2"
github "ashleymills/Reachability.swift"
github "airbnb/lottie-ios" "master"
github "Quick/Quick" ~> 6.1.0
github "Quick/Nimble" ~> 11.2.1